*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
  font-family: myFirstFont;
  src: url(gallery/fujimaru/Fujimaru-Regular.ttf);
}

@font-face {
  font-family: myFt;
  src: url(gallery/violableness-demo/ViolablenessDemoRegular.ttf);
}


@font-face {
  font-family: myeu;
  src: url(gallery/eu-alonira/Eu\ Alonira.otf);
}
.title99{
  font-family: myFirstFont;
}
.container
{
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.header{

    top: 0;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    height: 8vh;
}
.nav{
    padding: 0;
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    position:fixed;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.header a {
    color: #ffffff;
    padding: 14px 16px;
    text-decoration: none;
    font-size:20px;
    line-height: 42px;
}
.nav a {
    color: #ffffff;
    padding: 14px 16px;
    text-decoration: none;
    font-size:20px;
    line-height: 42px;
}
.ar:hover {
    color:rgba(224, 180, 108, 0.767);
}

.login{
    width: 1280px;
    height: 94vh;
    background-color: #bddbe8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.login a{
    color:cornflowerblue;
    padding: 14px 16px;
    text-decoration: none;
    font-size:16px;
    line-height: 42px;

}
.login a:hover{
    color: crimson;
}

.foot{
    height:6vh;
    width: 100%;
    min-width: 800px;
    background-color: #000000;;
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
    line-height: 50px;
    text-align: center;
}

.copy{
    margin-left: auto;
    margin-right: auto;
}

.product{
    width: 100%;
    height: 100vh;
    min-width: 800px;
   background-color: black;
    background-repeat:repeat-y;
    color: #98825b;
    background-image: url(gallery/jp.jpg);
    background-size:100% 100%;
}


.product2{
    width: 100%;
    height: 110vh;
    min-width: 800px;
   background-color: rgb(218, 186, 156);
    background-size:100%, 100%;
    background-repeat:repeat-y;
    color: #98825b;
}

.product3{
    width: 100%;
    height: 50vh;
    min-width: 800px;
    padding-top: 7vh;
	background-image: linear-gradient(rgb(218, 186, 156), rgb(65, 45, 15));
    background-size:100%, 100%;
    background-repeat:repeat-y;
    color: #98825b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
}

.p31{
  width: 33%;
  height: 43vh;
  padding: 2vh;
}
.p32{
  width: 33%;
  height: 43vh;
  padding-top: 5vh;
  padding-left: 2vh;
  padding-right: 2vh;
  color: white;
}
.p33{
  width: 33%;
  height: 43vh;
  padding-top: 5vh;
  padding-left: 2vh;
  padding-right: 2vh;
  color: white;
  vertical-align: middle;
  line-height: 20px;
}

.p33 img{
  margin-top: 5px;
  width: 20px;
  height: 20px;
}

.split{
	width: 100%;
	height: 50vh;
	display: flex;
	flex-direction: row;
	position: relative;
	z-index: 0;
}


#sld{
  width: 600px;
  height: 400px;
  animation: move1 20s infinite ease-in-out;
  background-size:cover;
  border: 10px solid rgb(107, 72, 39);
}

@keyframes move1 {
    0% {
      background-image: url(gallery/1hs.jpg);
    }
    25% {
        background-image: url(gallery/2hs.jpg);
      }
    50% {
        background-image: url(gallery/3hs.jpg);
      }
      75% {
        background-image: url(gallery/4hs.jpg);
      }
    100% {
      background-image: url(gallery/1hs.jpg);

    }
  }


.judul{
	position: absolute;
	z-index: 0;
	top: 38vh;
	padding-top:15px;
	width: 100%;
	height: 250px;
  backdrop-filter: blur(3px);
	background-color: rgba(0, 0, 0, 0.26);
	line-height: 100px;
}

.a1{
	font-size: 60px;
	color: rgb(0, 0, 0);
  font-family: myFirstFont;
}

.a2{
	font-size: 100px;
	color: white;
  font-family: myFirstFont;
	-o-animation-delay: 2s;
	animation: focus-in-contract 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-contract {
	0% {
	  letter-spacing: 2em;
	filter: blur(12px);
	  opacity: 0;
	}
	100% {
	filter: blur(0px);
	  opacity: 1;
	}
  }
@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
            transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.up{
	width: 100%;
	height: 50vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.up1{
	width: 100%;
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.upk{
	height: 50vh;
	width: 50%;
  display: flex;
	align-items: center;
	justify-content: center;
}

.upb{
	height: 60vh;
	width: 50%;
	color: black;
	padding: 5vh;
  padding-top: 0vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.coba{
  height: 45vh;
  width: 150px;
  margin: 10px;
}

.coba:hover .bcard{
  animation: one 1.5s alternate both;
}
.coba:hover .card{
  animation: one1 1s alternate both;
}

.coba:hover .text{
  animation-delay: 3s;
  animation: one2 1s alternate both;
}

.bcard{
    width: 150px;
    background-color: rgba(0, 0, 0, 0.247);
    border-radius: 80px;
    display: flex;
    top: 70px;
    position: relative;
    flex-direction: column;
    visibility: hidden;
  }

.card{
    background-color:#b67950 ;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    justify-content: center;
    line-height: 150px;
    position: absolute;
    z-index: 1;
    transform: translateY(50%);
}

.text{
    width: 150px;
    height: 45vh;
    text-align: center;
    font-size: smaller;
    line-height: 25px;
    padding-top: 180px;
    padding-left: 5px;
    padding-right: 5px;
    color: rgb(151, 87, 38);
	  visibility: hidden;
    animation-delay: 3s;
}
@-webkit-keyframes one {
	0% {
	  height: 20vh;
	  opacity: 0;
	}
	40% {
	  opacity: 0.6;
	}
	100% {
    visibility: visible;
    top: 0;
	  height: 50vh;
	  opacity: 1;
	}
  }


  @-webkit-keyframes one1 {
    0% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(0%);
    }
    }

    @-webkit-keyframes one2 {
      0% {
        visibility:visible;
        opacity: 0;
      }
      70%{
        opacity: 0;
      }
      100% {
        visibility:visible;
        opacity: 1;
      }
      }




  .move{
    width: 150px;
    background-color: rgba(0, 0, 0, 0.247);
    margin: 30px;
    margin-bottom: 0px;
    border-radius: 80px;
    position: relative;
    height: 45vh;
    opacity: 1;
  }
  .hst{
    display: inline-block;
    height:fit-content;
    line-height: 70px;
    width: 100px;
    top: 0;
    position: relative;
    font-size: 40px;
    left: 30%;
    font-family: myeu;
  }

  .hso{
    height: 30px;
    width:30px;
    font-size: 20px;
    position: relative;
    left: 50%;
    font-family: myeu;
  }

  .hsa{
    width: fit-content;
    color: white;
    position: relative;
    font-family: myFirstFont;
    font-size: 70px;
    left: 40%;
  }

  /* .bcard:hover{
	-webkit-opacity: 1;
	opacity: 1;
	-webkit-animation: one 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	  animation: one 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

  } */
.cbg1{
    background-image: url(gallery/bgc1.jpg);
  background-size:120% 120%;
  background-position-x:-20px ;
  background-position-y:-10px ;
}

.cbg2{
  background-image: url(gallery/bgc2.jpg);
background-size:150% 150%;
background-position-x:-20px ;
background-position-y:-50px ;
}

.cbg3{
  background-image: url(gallery/bgc3.jpg);
background-size:120% 120%;
background-position-x:-20px ;
background-position-y:-10px ;
}

.cbg4{
  background-image: url(gallery/bgc4.jpg);
background-size:120% 120%;
background-position-x:-20px ;
background-position-y:-10px ;
}

.cbg5{
  background-image: url(gallery/bgc5.jpg);
background-size:120% 120%;
background-position-x:-20px ;
background-position-y:-10px ;
}

.cbg6{
  background-image: url(gallery/bgc6.jfif);
background-size:120% 120%;
background-position-x:-20px ;
background-position-y:-10px ;
}


.arrow{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.arrow span{
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #ffffff;
  border-right: 5px solid #ffffff;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}

