*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.logout-btn{
  width: 150px;
  height: 30px;
  margin-top: 20px;
}
.container
{
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    background-color: rgb(0, 0, 0);
}

.header{

    top: 0;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    height: 8vh;
}
.nav{
    padding: 0;
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1
}

.header a {
    color: #ffffff;
    padding: 14px 16px;
    text-decoration: none;
    font-size:20px;
    line-height: 42px;
}
.nav a {
    color: #ffffff;
    padding: 14px 16px;
    text-decoration: none;
    font-size:20px;
    line-height: 42px;
}
.ar:hover {
    color:rgba(224, 180, 108, 0.767);
}

.login{
    width: 1280px;
    height: 94vh;
    background-color: #bddbe8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.login a{
    color:cornflowerblue;
    padding: 14px 16px;
    text-decoration: none;
    font-size:16px;
    line-height: 42px;

}
.login a:hover{
    color: crimson;
}

.foot{
    height:6vh;
    width: 100%;
    min-width: 800px;
    background-color: #000000;;
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
    line-height: 50px;
    text-align: center;
}

.copy{
    margin-left: auto;
    margin-right: auto;
}

.hitam{
    background-color: #222222;
}

.productuser{
  width: 100%;
  height: 230vh;
  min-width: 800px;
  background-image: url(gallery/Background.jpg);
  background-blend-mode:overlay;
  background-size:100%, 100%;
  background-repeat:repeat-y;
  padding: 12vh;
  color: whitesmoke;
}

.product{
    width: 100%;
    height: 100%;
    min-width: 800px;
    background-image: url(gallery/Background.jpg);
    background-blend-mode:overlay;
    background-size:100%, 100%;
    background-repeat:repeat-y;
    padding: 12vh;
    color: whitesmoke;
}

.productedit{
    width: 100%;
    height: 125vh;
    min-width: 800px;
    background-image: url(gallery/Background.jpg);
    background-blend-mode:overlay;
    background-size:100%, 100%;
    background-repeat:repeat-y;
    padding: 12vh;
    color: whitesmoke;
}

.product2{
  width: 100%;
  height: 120vh;
  min-width: 800px;
  background-image: url(gallery/Background.jpg);
  background-blend-mode:overlay;
  background-size:100%, 100%;
  background-repeat:repeat-y;
  padding: 12vh;
  color: whitesmoke;
}

.product3{
  width: 100%;
  height: 150%;
  min-width: 800px;
  background-image: url(gallery/Background.jpg);
  background-blend-mode:overlay;
  background-size:100%, 100%;
  background-repeat:repeat-y;
  padding: 12vh;
  color: whitesmoke;
}

.product4{
  width: 100%;
  height: 120vh;
  min-width: 800px;
  background-image: url(gallery/Background.jpg);
  background-blend-mode:overlay;
  background-size:100%, 100%;
  background-repeat:repeat-y;
  padding: 12vh;
  color: whitesmoke;
}
.product5{
  width: 100%;
  height: 100%;
  min-width: 800px;
  background-image: url(gallery/Background.jpg);
  background-blend-mode:overlay;
  background-size:100%, 100%;
  background-repeat:repeat-y;
  padding: 12vh;
  color: whitesmoke;
}
.path{
  height: 1px;
  width: 100%;
  background-color: white;
  animation: line 1s alternate;
  overflow: hidden;
}

@keyframes line{
  0%{
    width: 0%;
    background-color: none;
  }100%{
    width: 100%;
    background-color: white;
  }
}

.login1{
    width: 100%;
    height: 120vh;
    background-color: rgba(0, 0, 0, 1);
    padding: 5vh;
    animation: move 30s infinite ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.log{
    width: 40%;
    background-color: rgba(0, 0, 0, 0.698);
    margin-top: 8vh;
    padding: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}


.htop{
    font-size: 35px;
    height: 50px;
    line-height: 50px;
    color: rgb(255, 255, 255);
    z-index: 0;
    overflow: hidden;
}

.htop p{
  animation: muncul 1s alternate;
  animation-delay: 1s;
  animation-fill-mode:both;
}

@keyframes muncul{
  from{
    transform: translateY(60px);
    opacity: 0;
  }
    to{
      transform: translateY( 0px);
      opacity: 1;
    }
}

.horder{
    font-size: 35px;
    color: rgb(172, 172, 172);
}

.p{
    font-size: 15px;
    color: dimgray;
}

.cards{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.tempMenu{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items:flex-start;
    justify-content: center;
    background-image: url(./gallery/BgSushi.jpg);
    background-position: center;
    background-repeat:repeat-y;
    background-size: auto;
    overflow-y: scroll;
    animation: sliding 1s ease-in-out alternate;
    animation-delay: 1s;
    animation-fill-mode: both;
}
.with-border-image {
  border-style: solid;
  border-width: 15px;
  border-image-source: url(./gallery/border.jpg);
  border-image-slice: 20;
}

.tempMenu::-webkit-scrollbar{
  background:transparent;
}
.tempMenu::-webkit-scrollbar-thumb{
  background-color: rgba(2, 2, 2, 0.554);
  border-radius: 5px;
  height: 50px;
}

@keyframes sliding{
  0%{
    height: 0vh;
  }
  100%{
    height: 60vh;
    border: 2px solid linear-gradient(#533314, #997b54e7);
  }
}

/* MENU DIBAWAH*/
.menue{
    width: 250px;
    height: 300px;
    margin: 3vh;
}

.mup{
    background-image: url(../UAS/gallery/rice.jpg);
    width: 250px;
    height: 200px;
}

.mdown{
    width: 250px;
    height: 100px;
    display:flex;
    align-items: stretch;
}
.mdleft{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 65%;
}
.mname{
    background-color: rgba(133, 131, 131, 0.431);
    height: 35%;
}
.mdes{
    background-color: rgba(133, 131, 131, 0.431);
    height: 65%;
}

.mdright{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 35%;
}

.harga{
    background-color: rgba(133, 132, 131, 0.431);
    height: 60%;
}
.addcart{
    background-color: rgba(133, 131, 131, 0.431);
    justify-content: center;
    align-items: center;
    height: 40%;
}
/* MENU DI ATAS */

/* CART DI BAWAH */
.tempCart{
    width: 100%;
    height: 60vh;
    padding: 2vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items:flex-start;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}
table th{
    border-bottom:1px solid ;
    color: gainsboro;
}

.cleft{
    background-color: rgb(100, 95, 96);
    padding: 5vh;
    flex-grow: 2;
    height: 56vh;
}

.cright{
    background-color: dimgrey;
    padding: 1vh;
    flex-grow: 1;
    height: 56vh;
}

/*CART SAMPAI SINI*/

.circle{
    border-radius:50px;
    width: 250px;
    min-width: 90px;
    height: 50vh;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5vh;
    padding: 10px;
    display: flex;
    padding-top:7vh ;
    flex-direction: column;
    z-index: 0;
    align-items: center;
    background-color: rgb(0, 0, 0);
    animation: fadeIn 1.5s alternate;
    animation-delay: 1s;
    animation-fill-mode:both;
    overflow: hidden;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
    transform: translateY(-500px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.p1{
    background-image: url(gallery/sushic.jpg);
    background-repeat: no-repeat;
}

.p2{
    background-image: url(gallery/ramenc.jpg);
    background-repeat: no-repeat;
}

.p3{
    background-image: url(gallery/ricec.jpg);
    background-repeat: no-repeat;
}
.p4{
    background-image: url(gallery/sakec.jpg);
    background-repeat: no-repeat;
}
.p5{
    background-image: url(gallery/mochir.jpg);
    background-repeat: no-repeat;
}

.tag{
    width: 20%;
    height: 30px;
    font-size:30px;
    color: #ffffff;
   text-align: center;
    font-weight: bold;
}
.tag1{
    width: 20%;
    height: 30px;
    font-size:30px;
    color: #ffffff;
   text-align: center;
    font-weight: bold;
}

.circle p{
    background-color: rgba(92, 92, 92, 0.376);
    color: white;
    font-size: larger;
    text-align: center;
    z-index: 1;
    /* border-radius: 2%; */
}
.circle a{
    font-size: 15px;
    background-color: rgba(255, 255, 255, 1);
    text-decoration: none;
    width: 50%;
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 10px;

}

.circle a:hover{
    text-decoration: underline;
    animation: bounce 1s alternate infinite;
}

.isi{
    width: 1280px;
    height: 115vh;
    background-color: #bddbe8;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.banner{
    background-color: lightslategray;
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position-y: -200px;
    background-image: url(gallery/kiyo.jpg);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: honeydew;
    text-shadow: 1px 2px darkslategray;
    padding: 10vh;
}
.banner h1{
    animation: shake 1s infinite alternate;
    font-size: 80px;
}

.dtls{
    background-color: rgb(240, 241, 243);
    width: 50%;
    height: 20vh;
    padding: 20px;
    color: rgb(88, 87, 87);
    overflow: scroll;
    margin: 10px;
}
.back a{
    text-decoration: none;
    color: snow;
}

.back a:hover{
    animation: roll 5s infinite;
}
.back{
    /* background-color: slategray; */
    width: 10vh;
    height: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 1vh;
}
.error
{
  color: red;
  size: 80%
}
.hidden
{
  display:none;
}




@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}

@keyframes move {
    0% {
      left: 0;
      background-image: url(gallery/1c.jpg);
      opacity: 0.7;
    }
    25% {
        left: 100%;
        background-image: url(gallery/2c.jpg);
        opacity: 0.7;
      }
    50% {
        left: 100%;
        background-image: url(gallery/3c.jpg);
        opacity: 0.7;
      }
      75% {
        left: 100%;
        background-image: url(gallery/4c.jpg);
        opacity: 0.7;
      }
    100% {
      left: 100%;
      background-image: url(gallery/1c.jpg);
      opacity: 0.7;
    }
  }

  .table100 {
    position: relative;
    padding-top: 60px;
  }

  .table100-head {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

  .table100-body {
    overflow-y:scroll;
    height:350px;
    width: 100%;
    display: block;
  }

  .table100 {
    background-color: #fff;
  }

  table {
    width: 100%;
  }

  th, td {
    font-weight: unset;
    padding-right: 10px;
  }

  .column1 {
    width: 5%;
    padding-left: 5px;
  }

  .column2 {
    width: 15%;
    padding-left: 5px;
  }

  .column3 {
    width: 20%;
    padding-left: 5px;
  }

  .column4 {
    width: 20%;
    padding-left: 5px;
  }

  .column5 {
    width: 10%;
    padding-left: 5px;
  }
  .column6 {
    width: 10%;
    padding-left: 5px;
  }

  .column7 {
    width: 10%;
    padding-left: 5px;
  }
  .column10 {
    width: 10%;
    align-self: center;
    padding-left: 10px;
  }

  .column8 {
    width: 10%;
    padding-left: 5px;
  }
  .column9 {
    width: 50%;
    padding-left: 5px;
  }

  .table100-head th {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .table100-body td {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .limiter {
    width: 1366px;
    margin: 0 auto;
  }

  .container-table100 {
    width: 100%;
    min-height: 100vh;
    background: #fff;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
  }

  .wrap-table100 {
    width: 1170px;
  }
  .table100.ver3 {
    background-color: #393939;
  }

  .table100.ver3 th {
    font-family: Lato-Bold;
    font-size: 15px;
    /*/////////////[Warna Font Header]/////////////*/
    color: #b88e57;
    line-height: 1.4;
    text-transform: uppercase;
    background-color: #393939;
  }

  .table100.ver3 td {
    font-family: Lato-Regular;
    font-size: 15px;
    /*/////////////[Warna Font Isi]/////////////*/
    color: whitesmoke;
    line-height: 1.4;
    background-color: #222222;
  }

  .table100.ver3 {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  }

  .table100.ver3 .ps__rail-y {
    right: 5px;
  }

  .table100.ver3 .ps__rail-y::before {
      /*/////////////[Warna Background color Header]/////////////*/
    background-color: #4e4e4e;
  }

  .table100.ver3 .ps__rail-y .ps__thumb-y::before {
      /*/////////////[Warna Background color Isi]/////////////*/
    background-color: #00ad5f;
  }
  .search{
      width: 20%;
  }
  .searchbtn{
    width: 10%;
}

.table100-body::-webkit-scrollbar {
    display: none;
  }

  .detailbtn{
    text-decoration: none;
    text-align: center;
  }

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
