*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
  font-family: myhtop;
  src: url(gallery/sujoka/SUJOKA-PersonalUse.otf);
}

@font-face {
  font-family: myeu;
  src: url(gallery/eu-alonira/Eu\ Alonira.otf);
}
@font-face {
  font-family: myFirstFont;
  src: url(gallery/fujimaru/Fujimaru-Regular.ttf);
}

.foot{
    height:6vh;
    width: 100%;
    min-width: 800px;
    background-color: #000000;;
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
    line-height: 50px;
    text-align: center;
}

.copy{
    margin-left: auto;
    margin-right: auto;
}

.path{
  height: 1px;
  width: 100%;
  background-color: white;
  animation: line 1s alternate;
  overflow: hidden;
}

.path2{
  height: 3px;
  width: 100%;
  background-color: rgb(67, 62, 55);
  animation: line2 1s alternate;
  overflow: hidden;
}

@keyframes line2{
  0%{
    width: 0%;
    background-color: none;
  }100%{
    width: 100%;
    background-color: rgb(67, 62, 55);
  }
}

@keyframes line{
  0%{
    width: 0%;
    background-color: none;
  }100%{
    width: 100%;
    background-color: white;
  }
}

/* mulai dari sini */
.font_profile{
    font-family: myFirstFont;
  }

.container_profile{
    width: 100%;
    height: 120vh;
    min-width: 800px;
    background-image: url(gallery/bgpf.jpg);
    background-blend-mode:overlay;
    background-size:100%, 100%;
    background-repeat:repeat-y;
    padding: 6vh;
    padding-top: 12vh;
    display: flex;
    flex-direction: row;
    color: #98825b;
    min-width: 1000;
}

.back_profile{
    width: 100%;
    height: 100%;
    min-width: 800px;
    background-color: rgba(139, 135, 139, 0.5);
    background-blend-mode:overlay;
    background-repeat:repeat-y;
    display: flex;
    flex-direction: row;
    color: #98825b;
    animation: fadeIn2 1.5s ease-in-out alternate;
    min-width:min-content;
}

.profile_left{
    height: 100%;
    width: 70%;
    background-color:rgba(245, 222, 179, 0.37);
    display: flex;
    flex-direction: row;
}

.picture_profile{
  width: 400px;
  padding: 5vh;
}
.profile{
  background-size: cover;
  width: 300px;
  height: 425px;
}
.nama_profile{
  width: 300px;
  overflow: hidden;
  color: #774f34;
  font-size: 40px;
  text-align: center;
  font-family: myFirstFont;
}
.data_user{
    width: 70%;
    padding: 5vh;
    min-width: min-content;
  }
.data_user_nama{
    padding-left:45px;
}
.data_user_email{
    padding-left:50px;
}
.data_user_alamat{
    padding-left:15px;
}
.loginnya{
    background-color: #e4c087;
    border: none;
    text-decoration:none;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    width: 130px;
    height:20px;
}
.tombol_edit_user{
    background-color: #e4c087;
    border: none;
    text-decoration:none;
    color: #533314;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    width: 130px;
    height:20px;
  }
.profile_kanan{
color: #f5eee5ef;
padding: 3vh;
height: 100%;
width: 30%;
background-color: rgba(146, 123, 93, 0.5);
}

.top_up form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

.tombol_top_up{
background-color: #e4c087;
border: none;
text-decoration:none;
color: #533314;
text-align: center;
display: inline-block;
font-size: 15px;
cursor: pointer;
width: 80px;
height:20px;
}
.tombol_status{
    background-color: #e4c087;
    border: none;
    text-decoration:none;
    color: #533314;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    width: 130px;
    height:20px;
  }
.tombol_history{
background-color: #e4c087;
border: none;
text-decoration:none;
color: #533314;
text-align: center;
display: inline-block;
font-size: 15px;
cursor: pointer;
width: 130px;
height:20px;
}

.tabel_top_up{
  width: 100%;
  height: 34vh;
  overflow-y: auto;
  background-color: #ebdeca24;
  margin-bottom: 2vh;
}

.tabel_top_up::-webkit-scrollbar{
  width: 5px;
  background:transparent;
}
.tabel_top_up::-webkit-scrollbar-thumb{
  background-color: rgba(82, 52, 18, 0.554);
  border-radius: 5px;
  height: 50px;
}

.tabel_top_up table {
  border-collapse: collapse;
  width: 100%;
}

.tabel_top_up td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid rgb(128, 95, 57);
}
.tabel_top_up th{
    padding: 8px;
    color: rgba(87, 48, 15, 0.972);
    font-weight:bolder;
    text-align: left;
    border-top: 2px solid rgb(128, 95, 57);;
    border-bottom: 3px solid rgb(128, 95, 57);;
}
.container_logout{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

.container_logout form{
width: 80px;
display: inline-flex;
flex-direction: row;
align-items: stretch;
justify-content: center;
}

.blur {
  backdrop-filter: blur(5px);
}
